* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    
}
#cabecera {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: white;
}
header img {
    width: 15%;
    height: 200px;
    float: left;
}
header h1 {
    font-size: 3em;
    width: 85%;
    float: left;
    background-color: white;
}
.clear {
    clear: both;
}

#menu {
    width: 100%;
    background-color: rgb(247, 221, 217);
}
#menu ul {
    display: flex;
    list-style-type: none;
}
#menu ul li {
    text-align: center;
    width: 15.9%;
    list-style-type: none;
    display: inline-block;
}
#menu ul li #cesta {
    width: 25px;
    height: 25px;
}
.clear {
    clear: both;
}

#contenido {
    width: 100%;
    margin-top: 2%;
}
#izq {
    width: 40%;
    float: left;
}

.clear {
    clear: both;
}

#der {
width: 60%;
float:right;
}
#der div .detallesProducto img {
width: 20px;
height: 20px;
}
.clear {
    clear: both;
}
footer {
    background-color: rgb(247, 221, 217);
    text-align: right;
    width: 100%;
    bottom: 0;
    position: fixed;
}
footer img {
    margin: 10px;
    width: 70px;
    height: 70px;
    float: right;
}