*  {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
body {
    background-color: rgb(250, 247, 242);
}
div {
    padding: 10px;
}
#superior {
    display: inline-block;
    width: 100%;
}
div#lema {
    width: 34%;
    float: left;
    background-color: rgb(189, 221, 186);
    
}
div#enlaces {
    margin-top: 10px;
    width: 66%;
    float: right;
    padding-left: 30px;
    background-color: rgb(234, 247, 233);
} 
#centro {
    display: inline-block;
    width: 100%;
}
div#publi1 {
    width: 25%;
    float: left;
    background-color: antiquewhite;
}
div#contenido {
    width: 50%;
    float: left;
    background-color: aliceblue;
}
div#publi2 {
    width: 25%;
    float: left;
    background-color: antiquewhite;
}
.clear {
    clear:both;
}
div#copyright {
    width: 100%;
    position: fixed;
    bottom: 0px;
    background-color: rgb(189, 221, 186);
}